In [1]:
import pandas as pd

In [3]:
pd.Series([1,3,5,7])

0    1
1    3
2    5
3    7
dtype: int64

In [4]:
pd.Series(['Tehran','Tabriz','Kerman','Shiraz','karaj'])

0    Tehran
1    Tabriz
2    Kerman
3    Shiraz
4     karaj
dtype: object

In [8]:
s1 = pd.Series(data=['Tehran','Ankara','Berlin'],index=['Iran','Turkey','Germany'])

In [9]:
s2 = pd.Series(data=['Tehran','Ankara','Berlin'])

In [10]:
s1

Iran       Tehran
Turkey     Ankara
Germany    Berlin
dtype: object

In [11]:
s2

0    Tehran
1    Ankara
2    Berlin
dtype: object

In [12]:
s1['Iran']

'Tehran'

In [13]:
s2[0]

'Tehran'

In [14]:
import numpy as np

In [15]:
np.nan

nan

In [16]:
pd.Series([1,3,np.nan,8])

0    1.0
1    3.0
2    NaN
3    8.0
dtype: float64

In [17]:
pd.Series([1,3,None,8])

0    1.0
1    3.0
2    NaN
3    8.0
dtype: float64

In [19]:
pd.Series(['A','B','C'])

0    A
1    B
2    C
dtype: object

In [20]:
pd.Series(('A','B','C'))

0    A
1    B
2    C
dtype: object

In [21]:
pd.Series({'A','B','C'})

TypeError: 'set' type is unordered

In [22]:
pd.Series(list({'A','B','C'}))

0    A
1    B
2    C
dtype: object

In [23]:
pd.Series({'Iran':'Tehran' , 'Berlin' : 'Germany'})

Iran       Tehran
Berlin    Germany
dtype: object

In [25]:
arr = np.array([1,2,3,4,5])

In [26]:
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [27]:
s1 = pd.Series([1,3,1,1,5,4,9,7])

In [28]:
len(s1)

8

In [29]:
s1.size

8

In [30]:
s1.shape

(8,)

In [37]:
s1.count()

8

In [32]:
s1.value_counts()

1    3
3    1
5    1
4    1
9    1
7    1
dtype: int64

In [40]:
s2 = pd.Series([1,3,1,1,None,4,9,7])
s2

0    1.0
1    3.0
2    1.0
3    1.0
4    NaN
5    4.0
6    9.0
7    7.0
dtype: float64

In [34]:
s2.shape

(8,)

In [36]:
s2.count()

7

In [39]:
s1.values

array([1, 3, 1, 1, 5, 4, 9, 7], dtype=int64)

In [41]:
s2.values

array([ 1.,  3.,  1.,  1., nan,  4.,  9.,  7.])

In [42]:
s2.index

RangeIndex(start=0, stop=8, step=1)

In [43]:
s3 = pd.Series({'A':1 , 'B':2 , 'C':25})

In [44]:
s3.values

array([ 1,  2, 25], dtype=int64)

In [45]:
s3.index

Index(['A', 'B', 'C'], dtype='object')

In [46]:
s1.is_unique

False

In [48]:
s1.is_monotonic
# yeknavakht rafte jolo

False