In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1,3,5,None,9,11,13])
s1

0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
6    13.0
dtype: float64

In [3]:
s1.count()

6

In [4]:
s1.sum()

42.0

In [5]:
s1.product()
#

19305.0

In [6]:
s1.sum(skipna=False)

nan

In [7]:
s1.cumsum()

0     1.0
1     4.0
2     9.0
3     NaN
4    18.0
5    29.0
6    42.0
dtype: float64

In [9]:
s1

0     1.0
1     3.0
2     5.0
3     NaN
4     9.0
5    11.0
6    13.0
dtype: float64

In [10]:
s1.pct_change()
# (3-1) / 1

0         NaN
1    2.000000
2    0.666667
3    0.000000
4    0.800000
5    0.222222
6    0.181818
dtype: float64

In [11]:
s1.pct_change(fill_method='ffill')

0         NaN
1    2.000000
2    0.666667
3    0.000000
4    0.800000
5    0.222222
6    0.181818
dtype: float64

In [12]:
s1.pct_change(fill_method='pad')

0         NaN
1    2.000000
2    0.666667
3    0.000000
4    0.800000
5    0.222222
6    0.181818
dtype: float64

In [13]:
s1.pct_change(fill_method='bfill')

0         NaN
1    2.000000
2    0.666667
3    0.800000
4    0.000000
5    0.222222
6    0.181818
dtype: float64

In [15]:
min(s1) , max(s1)

(1.0, 13.0)

In [16]:
s1.mean()

7.0

In [17]:
s1.median()

7.0

In [18]:
s1.mode()

0     1.0
1     3.0
2     5.0
3     9.0
4    11.0
5    13.0
dtype: float64

In [19]:
s1.std()

4.732863826479693

In [20]:
s1.var()

22.4

In [21]:
s1.var()**0.5

4.732863826479693

In [22]:
s1.describe()

count     6.000000
mean      7.000000
std       4.732864
min       1.000000
25%       3.500000
50%       7.000000
75%      10.500000
max      13.000000
dtype: float64

In [23]:
s1.info()

<class 'pandas.core.series.Series'>
RangeIndex: 7 entries, 0 to 6
Series name: None
Non-Null Count  Dtype
--------------  -----
6 non-null      float64
dtypes: float64(1)
memory usage: 184.0 bytes

In [26]:
s1.sample()

2    5.0
dtype: float64

In [27]:
for _ in range(10):
    print(s1.sample())

2    5.0
dtype: float64
0    1.0
dtype: float64
2    5.0
dtype: float64
1    3.0
dtype: float64
0    1.0
dtype: float64
0    1.0
dtype: float64
1    3.0
dtype: float64
4    9.0
dtype: float64
0    1.0
dtype: float64
6    13.0
dtype: float64

In [28]:
s1.sample(5)

4     9.0
5    11.0
2     5.0
1     3.0
0     1.0
dtype: float64

In [29]:
s1.sample(20 , replace=True)

1     3.0
4     9.0
5    11.0
6    13.0
6    13.0
2     5.0
4     9.0
3     NaN
2     5.0
0     1.0
4     9.0
6    13.0
1     3.0
3     NaN
4     9.0
2     5.0
2     5.0
2     5.0
2     5.0
5    11.0
dtype: float64

In [32]:
s2=pd.Series([1,2,3,4,5,6,8,7,5,1,2,1,4,52,3,1,2,5,2,6,4,2,3,6,2,1,4,5,2,3,1,2,1,5,52,3,3,6,4,4,4,1,2,22,2,2])
s2

0      1
1      2
2      3
3      4
4      5
5      6
6      8
7      7
8      5
9      1
10     2
11     1
12     4
13    52
14     3
15     1
16     2
17     5
18     2
19     6
20     4
21     2
22     3
23     6
24     2
25     1
26     4
27     5
28     2
29     3
30     1
31     2
32     1
33     5
34    52
35     3
36     3
37     6
38     4
39     4
40     4
41     1
42     2
43    22
44     2
45     2
dtype: int64

In [33]:
s2.unique()

array([ 1,  2,  3,  4,  5,  6,  8,  7, 52, 22], dtype=int64)

In [34]:
s2.nunique()

10

In [36]:
s2.mode()

0    2
dtype: int64

In [37]:
s2.value_counts()

2     11
1      8
4      7
3      6
5      5
6      4
52     2
8      1
7      1
22     1
dtype: int64