In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'..\S05-S08\Data\btc-usd.csv', index_col='Date' ,parse_dates=['Date'] )
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-04-30,53568.664063,57900.718750,53129.601563,57750.175781,57750.175781,52395931985
2021-05-01,57714.664063,58448.339844,57052.273438,57828.050781,57828.050781,42836427360
2021-05-02,57825.863281,57902.593750,56141.906250,56631.078125,56631.078125,38177405335
2021-05-03,56620.273438,58973.308594,56590.871094,57200.292969,57200.292969,51713139031
2021-05-04,57214.179688,57214.179688,53191.425781,53333.539063,53333.539063,68564706967
...,...,...,...,...,...,...
2022-04-26,40448.421875,40713.890625,37884.984375,38117.460938,38117.460938,34569088416
2022-04-27,38120.300781,39397.917969,37997.312500,39241.121094,39241.121094,30981015184
2022-04-28,39241.429688,40269.464844,38941.421875,39773.828125,39773.828125,33903704907
2022-04-29,39768.617188,39887.269531,38235.535156,38609.824219,38609.824219,30882994649
2022-04-30,38597.628906,38760.183594,38252.488281,38281.816406,38281.816406,22406969344

In [4]:
df.index

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-07',
               '2021-05-08', '2021-05-09',
               ...
               '2022-04-21', '2022-04-22', '2022-04-23', '2022-04-24',
               '2022-04-25', '2022-04-26', '2022-04-27', '2022-04-28',
               '2022-04-29', '2022-04-30'],
              dtype='datetime64[ns]', name='Date', length=366, freq=None)

In [6]:
s1 = df['Close']
s1

Date
2021-04-30    57750.175781
2021-05-01    57828.050781
2021-05-02    56631.078125
2021-05-03    57200.292969
2021-05-04    53333.539063
                  ...
2022-04-26    38117.460938
2022-04-27    39241.121094
2022-04-28    39773.828125
2022-04-29    38609.824219
2022-04-30    38281.816406
Name: Close, Length: 366, dtype: float64

In [10]:
s2 =  pd.read_csv(
    r'..\S05-S08\Data\btc-usd.csv', 
    index_col='Date' ,
    parse_dates=['Date'],
    usecols=['Date','Close'] ,
    squeeze=True
    )
s2

<ipython-input-10-5d615db35f08>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  s2 =  pd.read_csv(

Date
2021-04-30    57750.175781
2021-05-01    57828.050781
2021-05-02    56631.078125
2021-05-03    57200.292969
2021-05-04    53333.539063
                  ...
2022-04-26    38117.460938
2022-04-27    39241.121094
2022-04-28    39773.828125
2022-04-29    38609.824219
2022-04-30    38281.816406
Name: Close, Length: 366, dtype: float64

In [11]:
s1 = pd.read_csv(
    r'../S05-S08/Data/employees.csv',
    index_col='First Name',
    usecols=['First Name' , 'Salary'],
    squeeze=True
)
s1

<ipython-input-11-f92c17cb4b29>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  s1 = pd.read_csv(

First Name
Douglas         NaN
Thomas      61933.0
Maria      130590.0
Jerry      138705.0
Larry      101004.0
             ...
Phillip     42392.0
Russell     96914.0
Larry       60500.0
Albert     129949.0
NaN             NaN
Name: Salary, Length: 1001, dtype: float64

In [13]:
s1.sort_values(ascending=False)

First Name
Katherine    149908.0
Rose         149903.0
Cynthia      149684.0
NaN          149654.0
Kathy        149563.0
               ...
Steven        35095.0
Kevin         35061.0
Michael       35013.0
Douglas           NaN
NaN               NaN
Name: Salary, Length: 1001, dtype: float64

In [17]:
s1.sort_values(ascending=False,na_position='first')

First Name
Douglas           NaN
NaN               NaN
Katherine    149908.0
Rose         149903.0
Cynthia      149684.0
               ...
Cynthia       35381.0
Matthew       35203.0
Steven        35095.0
Kevin         35061.0
Michael       35013.0
Name: Salary, Length: 1001, dtype: float64

In [14]:
s1.count()

999

In [16]:
s1.describe()

count       999.000000
mean      90655.528529
std       32939.511615
min       35013.000000
25%       62560.000000
50%       90427.000000
75%      118744.500000
max      149908.000000
Name: Salary, dtype: float64

In [18]:
s1.dropna()

First Name
Thomas      61933.0
Maria      130590.0
Jerry      138705.0
Larry      101004.0
Dennis     115163.0
             ...
Henry      132483.0
Phillip     42392.0
Russell     96914.0
Larry       60500.0
Albert     129949.0
Name: Salary, Length: 999, dtype: float64

In [19]:
s1.dropna().sort_values()

First Name
Michael       35013.0
Kevin         35061.0
Steven        35095.0
Matthew       35203.0
Cynthia       35381.0
               ...
Kathy        149563.0
NaN          149654.0
Cynthia      149684.0
Rose         149903.0
Katherine    149908.0
Name: Salary, Length: 999, dtype: float64

In [20]:
s1.sort_index()

First Name
Aaron     61602.0
Aaron     58755.0
Aaron     52119.0
Aaron     63126.0
Adam      95327.0
           ...
NaN       95866.0
NaN      133472.0
NaN      107351.0
NaN      143638.0
NaN           NaN
Name: Salary, Length: 1001, dtype: float64

In [23]:
s1.nlargest(10)

First Name
Katherine    149908.0
Rose         149903.0
Cynthia      149684.0
NaN          149654.0
Kathy        149563.0
Russell      149456.0
Andrea       149105.0
James        148985.0
Clarence     148941.0
Maria        148857.0
Name: Salary, dtype: float64

In [24]:
s1.nsmallest(10)

First Name
Michael      35013.0
Kevin        35061.0
Steven       35095.0
Matthew      35203.0
Cynthia      35381.0
Christina    35477.0
Kathleen     35575.0
Terry        35633.0
Bruce        35802.0
Frances      35884.0
Name: Salary, dtype: float64

In [25]:
s1.nsmallest(10).describe()

count       10.000000
mean     35412.400000
std        313.058461
min      35013.000000
25%      35122.000000
50%      35429.000000
75%      35618.500000
max      35884.000000
Name: Salary, dtype: float64

In [26]:
s1.nlargest(10).describe()

count        10.000000
mean     149405.600000
std         401.444115
min      148857.000000
25%      149015.000000
50%      149509.500000
75%      149676.500000
max      149908.000000
Name: Salary, dtype: float64

In [27]:
s2 = s1

In [28]:
s2.dropna(inplace=True)

In [29]:
s2

First Name
Thomas      61933.0
Maria      130590.0
Jerry      138705.0
Larry      101004.0
Dennis     115163.0
             ...
Henry      132483.0
Phillip     42392.0
Russell     96914.0
Larry       60500.0
Albert     129949.0
Name: Salary, Length: 999, dtype: float64

In [30]:
s1 = s1.dropna()

In [31]:
s1

First Name
Thomas      61933.0
Maria      130590.0
Jerry      138705.0
Larry      101004.0
Dennis     115163.0
             ...
Henry      132483.0
Phillip     42392.0
Russell     96914.0
Larry       60500.0
Albert     129949.0
Name: Salary, Length: 999, dtype: float64

In [32]:
s1.sort_values(inplace=True)

In [33]:
s1

First Name
Michael       35013.0
Kevin         35061.0
Steven        35095.0
Matthew       35203.0
Cynthia       35381.0
               ...
Kathy        149563.0
NaN          149654.0
Cynthia      149684.0
Rose         149903.0
Katherine    149908.0
Name: Salary, Length: 999, dtype: float64

In [37]:
df = pd.read_csv('../S05-S08/Data/movies.csv',index_col='name')
df

,rating,genre,year,release_date,release_country,score,votes,director,writer,star,country,budget,gross,company,runtime
name,,,,,,,,,,,,,,,
The Shining,R,Drama,1980,"June 13, 1980",United States,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
The Blue Lagoon,R,Adventure,1980,"July 2, 1980",United States,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980",United States,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
Airplane!,PG,Comedy,1980,"July 2, 1980",United States,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
Caddyshack,R,Comedy,1980,"July 25, 1980",United States,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
More to Life,NaN,Drama,2020,"October 23, 2020",United States,3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
Dream Round,NaN,Comedy,2020,"February 7, 2020",United States,4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
Saving Mbango,NaN,Drama,2020,"April 27, 2020",Cameroon,5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
It's Just Us,NaN,Drama,2020,"October 1, 2020",United States,NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
Tee em el,NaN,Horror,2020,"August 19, 2020",United States,5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [38]:
rating = df['rating']
rating

name
The Shining                                         R
The Blue Lagoon                                     R
Star Wars: Episode V - The Empire Strikes Back     PG
Airplane!                                          PG
Caddyshack                                          R
                                                 ...
More to Life                                      NaN
Dream Round                                       NaN
Saving Mbango                                     NaN
It's Just Us                                      NaN
Tee em el                                         NaN
Name: rating, Length: 7666, dtype: object

In [39]:
rating.value_counts()

R            3695
PG-13        2112
PG           1252
Not Rated     283
G             153
Unrated        52
NC-17          23
TV-MA           9
TV-PG           5
X               3
Approved        1
TV-14           1
Name: rating, dtype: int64

In [40]:
rating.value_counts().sort_index()

Approved        1
G             153
NC-17          23
Not Rated     283
PG           1252
PG-13        2112
R            3695
TV-14           1
TV-MA           9
TV-PG           5
Unrated        52
X               3
Name: rating, dtype: int64

In [42]:
rating.value_counts(ascending=True)

Approved        1
TV-14           1
X               3
TV-PG           5
TV-MA           9
NC-17          23
Unrated        52
G             153
Not Rated     283
PG           1252
PG-13        2112
R            3695
Name: rating, dtype: int64

In [47]:
(rating.value_counts(normalize=True)*100).round(1)

R            48.7
PG-13        27.8
PG           16.5
Not Rated     3.7
G             2.0
Unrated       0.7
NC-17         0.3
TV-MA         0.1
TV-PG         0.1
X             0.0
Approved      0.0
TV-14         0.0
Name: rating, dtype: float64

In [48]:
score = df.score
score

name
The Shining                                       8.4
The Blue Lagoon                                   5.8
Star Wars: Episode V - The Empire Strikes Back    8.7
Airplane!                                         7.7
Caddyshack                                        7.3
                                                 ...
More to Life                                      3.1
Dream Round                                       4.7
Saving Mbango                                     5.7
It's Just Us                                      NaN
Tee em el                                         5.7
Name: score, Length: 7666, dtype: float64

In [49]:
score.value_counts()

6.6    359
6.4    351
6.2    346
6.7    332
6.5    331
      ...
2.8      2
9.3      1
2.6      1
2.3      1
9.0      1
Name: score, Length: 72, dtype: int64

In [52]:
score.value_counts(bins=8).sort_index()

(1.8920000000000001, 2.825]      24
(2.825, 3.75]                    73
(3.75, 4.675]                   255
(4.675, 5.6]                   1205
(5.6, 6.525]                   2576
(6.525, 7.45]                  2550
(7.45, 8.375]                   923
(8.375, 9.3]                     57
Name: score, dtype: int64

In [54]:
score.value_counts(bins=[1,3,5,7,7.5,8,8.5,9,9.5,10]).sort_index()

(0.999, 3.0]      34
(3.0, 5.0]       601
(5.0, 7.0]      5052
(7.0, 7.5]      1184
(7.5, 8.0]       598
(8.0, 8.5]       172
(8.5, 9.0]        21
(9.0, 9.5]         1
(9.5, 10.0]        0
Name: score, dtype: int64

In [55]:
score.value_counts(bins=[1,3,5,7,7.5,8,8.5,9,9.5,10] , sort=False)

(0.999, 3.0]      34
(3.0, 5.0]       601
(5.0, 7.0]      5052
(7.0, 7.5]      1184
(7.5, 8.0]       598
(8.0, 8.5]       172
(8.5, 9.0]        21
(9.0, 9.5]         1
(9.5, 10.0]        0
Name: score, dtype: int64

In [57]:
score.value_counts(dropna=False).tail(10)

8.9    3
1.9    3
NaN    3
2.1    2
2.4    2
2.8    2
9.3    1
2.6    1
2.3    1
9.0    1
Name: score, dtype: int64

In [58]:
def verbal_score(s):
    if s >= 7.5:
        return 'High'
    elif s>= 6.5:
        return 'Medium'
    else:
        return 'Low'

In [60]:
for i in range(1,10):
    print(f'number is {i} and ' , verbal_score(i))

number is 1 and  Low
number is 2 and  Low
number is 3 and  Low
number is 4 and  Low
number is 5 and  Low
number is 6 and  Low
number is 7 and  Medium
number is 8 and  High
number is 9 and  High

In [61]:
score.apply(verbal_score)

name
The Shining                                         High
The Blue Lagoon                                      Low
Star Wars: Episode V - The Empire Strikes Back      High
Airplane!                                           High
Caddyshack                                        Medium
                                                   ...
More to Life                                         Low
Dream Round                                          Low
Saving Mbango                                        Low
It's Just Us                                         Low
Tee em el                                            Low
Name: score, Length: 7666, dtype: object

In [62]:
score.map(verbal_score)

name
The Shining                                         High
The Blue Lagoon                                      Low
Star Wars: Episode V - The Empire Strikes Back      High
Airplane!                                           High
Caddyshack                                        Medium
                                                   ...
More to Life                                         Low
Dream Round                                          Low
Saving Mbango                                        Low
It's Just Us                                         Low
Tee em el                                            Low
Name: score, Length: 7666, dtype: object

In [63]:
score.apply(verbal_score).value_counts()

Low       3805
Medium    2881
High       980
Name: score, dtype: int64

In [65]:
score.apply(verbal_score).value_counts(normalize=True).mul(100).round()

Low       50.0
Medium    38.0
High      13.0
Name: score, dtype: float64

In [66]:
score.dropna().apply(round)

name
The Shining                                       8
The Blue Lagoon                                   6
Star Wars: Episode V - The Empire Strikes Back    9
Airplane!                                         8
Caddyshack                                        7
                                                 ..
Aloha Surf Hotel                                  7
More to Life                                      3
Dream Round                                       5
Saving Mbango                                     6
Tee em el                                         6
Name: score, Length: 7663, dtype: int64